@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Chewy&family=Delius+Unicase:wght@700&family=Emilys+Candy&family=Lilita+One&family=Modak&display=swap');

body {
background-color: #b9e7ff;
background-image: url("/assets/sprinkles2.png");
background-size: cover;
/* Use a system font, if none are available use an available sans-sarif   font */
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
margin: 0;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

body > h1 {
  /* font-family: 'Titan One', cursive; */
  font-family: 'Modak', cursive;
  font-size: 6em;
  margin: 0;
  color: white;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: black;
}


section.board {
display: grid;
grid-template-rows: repeat(3, 19vmin);
grid-template-columns: repeat(3, 19vmin);
grid-gap: 0vmin;
border: 1.5px solid black;
border-radius: .25rem;

}

.board > div {
border: 1.5px solid black;
font-size: 8vmin;
text-align: center;
vertical-align: middle;
object-fit: contain;
display: flex;
align-items: center;
justify-content: center;
background-color: #ffffff;
}

/* .board > div:hover {
  background-color: #fdeac39d;
} */

div img {
  object-fit: cover;
  width: 60%;
  
}


button {
  align-items: center;
  /* background-clip: padding-box; */
  background-color: #f9a1ae;
  border-radius: .25rem;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0; */
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 25px 0 0 0;
  min-height: 4rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 57.5vmin;
  border: 2.5px solid black;
}

button:hover,
button:focus {
  background-color: #93d7fb;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #7ab9da;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}